.nuevo-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #910A67;
    padding: 20px;
    color: #fff;
    align-items: center; /* Centramos verticalmente */
  }
  
  .nuevo-content {
    flex: 1;
    padding: 10px; /* Reducimos el padding */
    max-width: 50%;
  }
  
  .nuevo-content h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .nuevo-content p {
    font-size: 1rem;
    line-height: 1.5;
  }
  
  .nuevo-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    padding: 10px; /* Reducimos el padding */
  }
  
  .nuevo-image img {
    max-width: 100%;
    border-radius: 10px;
  }
  
  @media (max-width: 768px) {
    .nuevo-container {
      flex-direction: column;
      align-items: center;
    }
  
    .nuevo-content, .nuevo-image {
      max-width: 100%;
    }
  
    .nuevo-content {
      text-align: center;
}
  }